body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #6f42c1; /* Purple background color */
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-container {
    background-color: #6f42c1; /* Purple background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffc107; /* Yellow text color */
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.dark-mode .cell {
    background-color: #343a40;
}

.cell b {
    font-weight: bold;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffc107; /* Yellow button color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
